# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/logo lift.postman_collection.json
/.pnp
.pnp.js
*.zip
*.pdf
*.yml
*.rar
# testing
/coverage
.env

# production
/build
**/public/*
/logs/*
# misc
.DS_Store
.env.local
.env.development
.env.test.local
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.docz
.eslintcache
.vscode
package-lock.json

